
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

.App{
  text-align: center;
}
.container{
  background-color: #ccc;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
}

input[type=text], select{
  width: 80%;
  padding: 12px 20px;
  margin: 30px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.header{
  font-weight: 600;
  font-size: 30px;
}

button{
  width: 15%;
  background-color: red;
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover{
  background-color: blue;
}

.list-heading{
  text-decoration: underline;
}

.listData {
  font-size: 20px;
  background-color: aquamarine;
  padding-left: 30px;
  text-align: left;
  width: 53%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 10px;
}

.btn-position{
  position: relative;
  left: 12%;
  top: -63px;
}